{% extends 'base.html'  %}

{% block content %}
<div class="row justify-content-center ">
    <div class="col-4 p-4 border rounded">
        <h3>Update Feedback</h3>
<form method="POST">
 
    {{ feedback_form.hidden_tag() }}
    {% for field in feedback_form
      if field.widget.input_type != 'hidden' %}

      {{field.label}}
      {{ field(class_="form-control") }}


    {% endfor %}
    <button class="btn btn-success" type="submit">Update Feedback</button>
</form>

</div>
</div>

{% endblock %}