.pokecard {
    display: inline-block;
    width: 6em;
    height: 8em;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    margin: 1em;
  }
  
  .pokecard-name {
    color: blue;
    font-weight: bold;
    margin:.3em;
  }
  
  .pokecard-type,.pokecard-exp {
    font-size: .7em;
  }
  
  img{
    width:75px;
  }